.form-devis {opacity: 0;border-radius:5px;width: 50%;position: fixed;top: -100%;left: 50%;z-index: 2000;transform: translate(-50%, -50%);background: #eaeaea;padding: 20px 4px 20px 20px;transition: all 0.5s;max-height:80vh;overflow-y:auto;}
.devis-visible {opacity: 1;top: 50%;transition: all 0.5s;transform: translate(-50%, -50%);}
.form-devis .vc_column-inner {padding:0;}
.form-devis .legal-notice label, .form-devis #pj-cookies-gdpr {color:#2e2e2e;}
.form-devis .gform_wrapper {margin:0;}
.form-devis .gform_wrapper .gf_step {-moz-opacity: .4;-khtml-opacity: .4;opacity: .4;color:#314cbb;}
.form-devis .gform_wrapper .gf_step.gf_step_active {color: #f53329;font-weight: 600;}
.form-devis input, .form-devis textarea, .form-devis select {box-shadow:none !important;}
.faux-titre p {text-transform: uppercase;color: #314cbb;font-weight: 900;font-size: 20px;letter-spacing: 4px;}
.form-devis .gform_wrapper .gform_page_footer {margin: 10px 0 0;padding: 0;border:none;}
.form-devis .gform_wrapper .gform_body .gform_fields .gfield .ginput_container.ginput_complex .ginput_full input, .form-devis .gform_wrapper .gform_body .gform_fields .gfield .ginput_container input, .form-devis .gform_wrapper .gform_body .gform_fields .gfield .ginput_container textarea, .form-devis .gform_wrapper .gform_body .gform_fields .gfield .ginput_container select {padding: 5px !important;font-style: normal;}
.form-devis .gform_wrapper .ginput_complex .ginput_full {min-height:auto;}
.form-devis .gform_wrapper .ginput_complex .address_line_1 input {margin-bottom: 10px !important;}
.form-devis .last-input label {margin-bottom:0;}
.form-devis .gform_wrapper .gform_body .gform_fields .last-input .ginput_container {margin-top: 10px;}
.form-devis .last-input ul {display: flex;margin: 0 !important;justify-content: space-between;align-items: center;}
.form-devis .last-input ul li {width: 33.33%;display: flex;align-items: center;}
.form-devis .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox] {margin: 0 5px 0 0;}
.form-devis input::placeholder, .form-devis select::placeholder, .form-devis textarea::placeholder {color:#626262 !important;font-size:13px;}
.overlay {opacity:0;position: fixed;top: -100%;left: 0;width: 100%;height: 100%;background: rgb(0 0 0 / 30%);z-index: 100;cursor: pointer;transition: all 0.5s;}
.overlay-visible {opacity:1;top:0;transition: all 0.5s;}
field_38_26 iframe {display:block;}
