/***** Fun hover effect >> https://codepen.io/t_afif/pen/NWyNGVM
******/
.hover:hover {
    --_p: 100%;
}
.hover {
    --s: 0.1em;
    --c: #1095c1;
    color: #0000;
    padding-bottom: var(--s);
    background: linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%, linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
    background-clip: text,padding-box;
    transition: 0.5s;
}
h3 {
    font-family: system-ui, sans-serif;
    font-size: 3rem;
    margin: 0;
    cursor: pointer;
    padding: 0 0.1em;
}
